<html>
  <head>
    <title>Reset Password</title>
  </head>
  <body>
    <div>
      <p>Here's the token to reset your ScoutTrek password:</p>
      <p>{{token}}</p>
      <p>If you did not make a request to reset your password, please ignore this email.</p>
    </div>
  </body>
</html>
